* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling af Vejr */
.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-container .logo {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.time {
  font-size: 45px;
}

.date {
  font-size: 45px;
}

.temp {
  font-size: 100px;
  letter-spacing: 5px;
}

.summary {
  font-size: 24px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.icon {
  min-width: 220px;
  max-width: 230px;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-top: -15%;
}

.main-container {
  background-color: #8891A1;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 4fr 4fr;
      grid-template-columns: 3fr 4fr 4fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 5px;
      grid-template-areas: "data info aktiviteter";
}

.data-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: data;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  background-color: #3F4259;
  /* Styling af Bus tider */
}

.data-container .bus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px auto;
  width: 400px;
  color: white;
  font-weight: 600;
}

.data-container .bus-container .tid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 30%;
      grid-template-columns: 15% 30%;
  -ms-grid-rows: 50px;
      grid-template-rows: 50px;
  grid-column-gap: -20%;
  width: 380px;
  padding-left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 300;
}

.data-container .bus-container .tid img {
  width: 40px;
  height: 40px;
}

.data-container .bus-container .tid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #4D5A84;
}

.data-container .bus-container .tid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #414B6C;
}

.data-container .bus-container .tid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4D5A84;
}

.data-container .bus-container .tid4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #414B6C;
}

.data-container .bus-container .tid5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4D5A84;
}

.data-container .weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-weight: 600;
  background-color: #3F4259;
}

.data-container .weather-container .time-date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data-container .weather-container .temp-summary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.data-container .weather-container .temp-summary-container .col-left {
  text-align: center;
}

.info-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
}

.aktiviteter-container {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aktiviteter;
  padding-top: 12px;
}

.aktiviteter-container .header {
  background-color: #3F4259;
  height: 68px;
  margin-bottom: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #414B6C;
  padding: 10px;
  text-transform: uppercase;
}

.header h3 {
  margin-left: 10px;
}

.header img {
  height: 30px;
}

.article .medie-container {
  height: 300px;
  width: 100%;
  background-image: url("/mg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.article .nyheder {
  background-color: #414B6C;
  padding: 10px;
  margin: 10px 0;
}

.article .nyheder .titel {
  text-transform: uppercase;
}

.article .nyheder .tekst {
  margin-top: 20px;
}

.main-container {
  height: 100vh;
  background-color: #8891A1;
  color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 4fr 4fr;
      grid-template-columns: 3fr 4fr 4fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 5px;
      grid-template-areas: "data info aktiviteter";
}

#post .bus-container {
  width: 100%;
  color: white;
  font-weight: 600;
}

#post .bus-container .container-header {
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3F4259;
}

#post .bus-container .container-header img {
  margin: 0 1rem;
  width: 40px;
  height: 40px;
}

#post .bus-container .container_body .container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  height: 40px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background-color: #4D5A84;
}

#post .bus-container .container_body .container-content h3:first-of-type {
  margin: 0 0 0 1rem;
}

#post .bus-container .container_body .container-content h3:last-of-type {
  text-align: right;
  margin: 0 1rem 0 0;
}

#post .bus-container .container_body .container-content:first-of-type {
  height: 50px;
}

#post .bus-container .container_body .container-content:first-of-type h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#post .bus-container .container_body .container-content:nth-child(odd) {
  background: #414B6C;
}

/*
    Style af aktiviteter
*/
#activity-widget {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#activity-widget .we {
  background-color: #d64643;
}

#activity-widget .gr, #activity-widget .ggr {
  background-color: #4d72a6;
}

#activity-widget .dm {
  background-color: #88a63e;
}

#activity-widget .mg {
  background-color: #90368b;
}

#activity-widget .iw {
  background-color: #bdbdbd;
}

#activity-widget .agr, #activity-widget .abi {
  background-color: #b4b338;
}

#activity-widget .classes {
  width: calc(100% / 3);
  height: 60px;
}

#activity-widget .card {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  color: #fff;
  height: 40px;
}

#activity-widget .card:last-child {
  margin-top: 13px;
}

#activity-widget .card:first-of-type {
  font-weight: 700;
}

#activity-widget .card:first-of-type > p {
  margin: 5px 0 5px;
  padding: 0;
  border-right: 1px solid #fff;
}

#activity-widget .card:first-of-type > p:first-of-type, #activity-widget .card:first-of-type > p:last-of-type {
  border: none;
}

#activity-widget .card:nth-child(1n) {
  background-color: #3F4259;
}

#activity-widget .card:nth-child(2n) {
  background-color: #4D5A84;
}

#activity-widget .card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

#activity-widget .card p.time {
  width: 20%;
  font-weight: 700;
  font-size: 16px;
}

#activity-widget .card p.location {
  width: 20%;
}

#activity-widget .card p.class {
  width: 30%;
}

#activity-widget .card p.topic {
  width: 30%;
}

.middleSection {
  height: 300px;
  padding: 12px 0 0 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.middleSection .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto;
      grid-template-columns: 10% auto;
  width: 660px;
  background-color: #3F4259;
  height: 68px;
  margin-bottom: 13px;
}

.middleSection .info .fas {
  font-size: 50px;
  color: #fff;
  margin: auto;
}

.middleSection .info .info-header {
  display: inline-block;
  font-size: 28px;
  color: #fff;
  margin-top: 3.5%;
  margin-left: 1%;
}

.middleSection #player {
  width: 660px;
  height: 311px;
  background-color: #3F4259;
  margin-bottom: 13px;
}

.middleSection #player img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}

.middleSection .newsCard {
  height: 270px;
  margin-bottom: 13px;
  padding-top: 10px;
  width: 660px;
  background-color: #3F4259;
}

.middleSection .newsCard .news-date {
  font-size: 17px;
  color: #fff;
  margin-left: 10px;
}

.middleSection .newsCard .news-header {
  font-size: 28px;
  color: #fff;
  margin: 10px;
}

.middleSection .newsCard .news-content {
  font-size: 18px;
  color: #fff;
  margin: 10px;
  margin-top: 10px;
}

.middleSection .newsCard .qr-text {
  margin-left: 60%;
  font-size: 16px;
  color: #fff;
}

.middleSection .newsCard .news-head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 105px;
      grid-template-columns: auto 105px;
}

.middleSection .newsCard .news-head .qr-kode {
  position: relative;
  height: 80px;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1% auto;
  grid-template-columns: 1% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  overflow: hidden;
  right: 0px;
  bottom: 0;
  height: 71px;
  background-color: #414B6C;
  width: 1399px;
}

.ticker-wrap img {
  height: 71px;
  z-index: 2;
}

.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
}

.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}
