* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Styling af Vejr */
.weather-container {
display: grid;
grid-template-columns:5% repeat(4, 20%);
grid-template-rows: repeat(6, 20%);
color: white;
font-weight: 600;
background-color: #3F4259;
height: 450px;

.logo {
    width: 300px;
    display: flex;
    margin: 0 auto;
    align-items: end;
}

    .time {
        font-size: 35px;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: end;
        align-self: center;
        text-align: center;
    }

    .temp {
        font-size: 100px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: start;
        align-self: center;
        letter-spacing: 5px;
    }

    .summary {
        font-size: 24px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: start;
        align-self: center;
    }

    .icon {
        min-width: 220px;
        max-width: 230px;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
        justify-self: start;
        margin-top: -15%;
    }
}

/* Styling af Bus tider */
.bus-container {
    width: 400px;
    color: white;
    font-weight: 600;
    
    .tid {
        background-color: #3F4259;
        display: grid;
        grid-template-columns: 15% 30% ;
        grid-template-rows: 50px;
        grid-column-gap: -20%;
        width: 380px;
        padding-left: 5%;
        align-items: center;
        text-align: center;
        font-weight: 300;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .tid1 {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 40px;
        grid-column-gap: 10%;
        width: 400px;
        align-items: center;
        text-align: center;
        background-color: #4D5A84;
    }

    .tid2 {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 40px;
        grid-column-gap: 10%;
        width: 400px;
        text-align: center;
        align-items: center;
        background-color: #414B6C;
    }

    .tid3 {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 40px;
        grid-column-gap: 10%;
        width: 400px;
        text-align: center;
        align-items: center;
        background-color: #4D5A84;
    }

    .tid4 {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 40px;
        grid-column-gap: 10%;
        width: 400px;
        text-align: center;
        align-items: center;
        background-color: #414B6C;
    }

    .tid5 {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 40px;
        grid-column-gap: 10%;
        width: 400px;
        text-align: center;
        align-items: center;
        background-color: #4D5A84;
    }}




.main-container {
    background-color: #8891A1;
    color: #ffffff;
    display: grid;
    grid-template-columns: 2fr repeat(2, 4fr);
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: 
    "data info aktiviteter";
}

// Grid boxes
.data-container {
    grid-area: data;
    width: 100%;
}
.info-container {
    grid-area: info;
}
.aktiviteter-container {
    grid-area: aktiviteter;
}

// Global header/label
.header {
    display: flex;
    background-color: #414B6C;
    padding: 10px;
    text-transform: uppercase;
    h3 {
        margin-left: 10px;
    }
    img {
        height: 30px;
    }
}   

// Articles
.article { 
    .medie-container {
        height: 300px;
        width: 100%;
        background-image: url('/mg.jpg');
        background-size: 100% 100%; 
        background-repeat: no-repeat; 
        background-position: center; 
        background-origin: content-box;
    }
    .nyheder {
        background-color: #414B6C;
        padding: 10px;
        margin:  10px 0;
        .titel {
            text-transform: uppercase;
        }
        .tekst {
            margin-top: 20px;
        }
    }
}
    .main-container {
        background-color: #8891A1
    ;
        color: #FFFFFF
    ;
        display: grid;
        grid-template-columns: 2fr repeat(2, 4fr);
        grid-template-rows: auto;
        gap: 5px;
        grid-template-areas: 
        "data info aktiviteter";
    }
